
.div22{
    margin-top: 50px;
}
.div2{
    max-width: 300px;
}
.div2 img{
    width: 100%;
    height: 200px;
}

.dataHome{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 8px;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 800px) {
    .dataHome{
        grid-template-columns: repeat(3,1fr);
    }
  }
@media only screen and (max-width: 600px) {
    .dataHome{
        grid-template-columns: repeat(2,1fr);
    }
    .div2 img{
        height: 160px;
    }
  }
